html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

#submitPageContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

#postBack {
    background: none;
    border: none;
}

#postBack:hover {
    background: rgb(128, 124, 124);
    color: white;
    cursor: pointer;
}

#inputform {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    box-shadow: 4px 6px 10px rgb(128, 124, 124);
}

input {
    height: 50px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

#nameInput {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    border-top: none;
}

textarea {
    height: 75px;
}

#catIdSelect {
    height: 35px;
}

#listButton {
    background: none;
    padding: 7px;
}